/* index.css */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fef6e4;
  color: #272343;
}

/* Anchor links default style */
a {
  text-decoration: none;
  color: #646cff;
  font-weight: 500;
  transition: color 0.3s;
}

a:hover {
  color: #535bf2;
}

/* Buttons */
button {
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #7f5af0;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #6246ea;
}
